{% extends "estoque/baseEstoque.html" %} 

{% block content %} 

<div class="center-div">
	<h2><strong>Novo usuário  <img src="../static/estoque/iconesF/user-plus.svg" alt="" width="40px" height="40px"></strong></h2>
	<div class='form-wrapper'>
		<form action="{%url 'registrar' %}" method="post">
			{{ form }}
			{% csrf_token %}
			<input type="submit" value="Registrar-se" />
		</form>
	</div>
	<a href="{%url 'login'%}"><li><strong>Voltar para página de Login!</strong></li></a>
	<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="https://www.facebook.com/"><img src="../static/estoque/imgs/facebook.png" alt="" class="a"> </a>
    <a href="https://www.google.com/"><img src="../static/estoque/imgs/googleplus.png" alt="" class="a"></a>
    <a href="https://www.youtube.com/?hl=pt&gl=BR"><img src="../static/estoque/imgs/youtube.png" alt="" class="a" width="30px"></a>
</div>
<div class="center-div2">
</div>

{% endblock %}